@model dog7.Security.ChangePasswordModel
<h3>Change User Password</h3>
<form asp-action ="changepassword">
    <div class="form-group">

    <label class="control-label">Staff</label>
    <select class="form-control" asp-for="userId" asp-items="@ViewBag.Id" name="userId">

    </select>

</div>
<hr>
@if(ViewBag.error){
    <div style="color:white;background-color:red">@ViewBag.msg</div>
}
<br>
<div class="form-group">
    <label class="control-label">New Password</label>
    <input asp-for="password1" type="password" class="form-control" />
</div>
<div class="form-group">
    <label class="control-label">Confirm New Password</label>
    <input asp-for="password2" type="password" class="form-control" />
</div>
<div class="form-group">
    <input type="submit" />
</div>

</form>