<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item active" aria-current="page">breed</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
        <v-main>
             <v-btn
              class="white--text"
              color="green darken-1"
              @@click='add_breed'
             >
                 <v-icon>
                   mdi-plus
                 </v-icon>
                 
             </v-btn>
			<v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
             <v-data-table
			 :search = 'search'
             :headers ='headers'
             :items   ='breeds'
             :footer-props="{ 'items-per-page-options': [25, 50,100] }"
             :items-per-page="25"
              class='elevation-1'
             />
                  <template v-slot:item.actions='{item}'>
                        <v-btn small class="white--text mr-1"color="blue darken-1"
                        @@click="edit_breed(item)"
                        >
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn small class="white--text"color="red darken-1"
                        @@click="remove_breed(item)"
                        >
                            <v-icon>mdi-trash-can</v-icon>
                        </v-btn>
                  </template>
             </v-data-table>
        </v-main>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify(theme())
                ,
                el:'#app1'
                ,
                data:{
                   search :'',
                   breeds:[]
                   ,
                   headers:[
                      {text:'breed',value:'breedId',align:'left',sortable:true,class: 'white--text blue darken-2'},
                      {text:'ชื่อสายพันธุ์ภาษาไทย',value:'breedNameThai',align:'left',sortable:true,class: 'white--text blue darken-2'},
                      {text:'ชื่อสายพันธุ์ภาษาอังกฤษ',value:'breedNameEng',align:'left',sortable:true,class: 'white--text blue darken-2'},
                      {text:'รูปสายพันธ์ุ',value:'breedPic',align:'left',sortable:true,class: 'white--text blue darken-2'},
                      {text:'คำอธิบายสายพันธ์',value:'breedDescription',align:'left',sortable:true,class: 'white--text blue darken-2'},
                      {text:'จำนวนทั้งหมด',value:'total',align:'left',sortable:true,class: 'white--text blue darken-2'},
                      {text:'actions',value:'actions',align:'left',sortable:true,class: 'white--text blue darken-2'}

					]
                }//edata
                ,
                created(){
                  this.breeds = @Html.Raw(Json.Serialize(@ViewBag.breeds));
                }//ecreated
                ,
                methods:{
                    add_breed(){
                        window.location= '/breed/add';
                  
                        
                    }//ef
                    ,
                    edit_breed(item){
                        window.location = '/breed/edit/'+item.breedId;
                    }
                    ,
                    remove_breed(item){
                          if (confirm("To proceed, please click OK")) {
                              var id = item.breedId;
                              $.post( "/breed/delete/"+item.breedId)
                              .done((res)=> {
                                  if(res.error == -1){
                                      this.breeds = this.breeds.filter(x=>x.breedId != item.breedId);
                                  }//endif

                              })
                              .fail(function(res) {
                                  alert( res.msg);
                              });
                          } //end if 
                    }//ef

                }//emethods
                ,
                computed:{

                }//ecomputed
            };
            app = new Vue(component);


    </script>

}