<div id="app1">
    <v-app>
        <v-main>
            <v-container>
                <v-col cols="8">
                    <div style="text-align: center;">
                        <span  class="h1 grey--text">นโยบาย</span>
                    </div>
                    <br>
                        <ul class="grey--text h6">
                            <li>การแก้ไขข้อมูลจะต้องรอ 15 วันหลังจากแก้ไข</li>
                            <li>การแก้ไขรหัสผ่านจะต้องรอ 30 วันหลังจากแก้ไข</li>
                        </ul>
                    <br>
                    
                    <v-card>
                        <v-card-title >
                            <span style="margin: auto;" class="h2 grey--text">เปลี่ยนรหัสผ่าน</span>
                            
                        </v-card-title>
                        <div style="margin: 0 0 0 30px;">
                            <span id="error" class="red--text h6"></span>
                            <br>
                            <span class="h4 grey--text cp">รหัสผ่านปัจจุบัน</span>
                            <input class="h4 grey--text inFo bossBorder" v-model="changePassword.currentPassword">
                        </div>
                        <div style="margin: 0 0 0 30px;">
                            <span class="red--text h6 nnp"></span><br>
                            <span class="h4 grey--text np">รหัสผ่านใหม่</span>
                            <input class="h4 grey--text inFo bossBorder" v-model="changePassword.newPassword">
                        </div>
                        <div style="margin: 0 0 0 30px;">
                            <span class="h4 grey--text cnp">ยืนยันรหัสผ่านใหม่</span>
                            <input class="h4 grey--text inFo bossBorder" v-model="comfirmPassword">
                        </div>
                        <div style="text-align: center;">
                            <input id="cc" style="margin: 10px 10px;" type="button"  class="btn btn-danger white--text btn-large col-5" value="ยกเลิกการแก้ไขรหัสผ่าน" @@click="cancelChangePassword();">
                            <input id="cf" style="margin: 10px 10px;" type="button" class="btn btn-success white--text btn-large col-5" value="ยืนยันการแก้ไขรหัสผ่าน" @@click="confirmChangePassword();">

                        </div>
                    </v-card>
                </v-col>
            </v-container>
        </v-main>
    </v-app>
</div>
@section Scripts{
    <script>
        var component ={
            vuetify : new Vuetify(theme())
            ,
            el:"#app1"
            ,
            data:{
                editPasswordDateTime:"",
                today:"",
                diffDay:0,
                changePassword:{},
                comfirmPassword:"",

                pass1:0,
                pass2:0,
                pass3:0,
                pass4:0               
            }//edata
            ,
            methods:{
                cancelChangePassword(){
                    location = "/TheUser2"
                }//ef
                ,
                confirmChangePassword(){
                    //check completeness
                    if(this.changePassword.currentPassword == undefined || this.changePassword.currentPassword == ""){
                        document.querySelector(".cp").innerHTML="รหัสผ่านปัจจุบัน";
                        document.querySelector(".cp").innerHTML+=" <b class='red--text h6'> กรุณาใส่รหัสผ่านปัจจุบัน <b>";
                            this.pass1 = 0;
                    }//econ
                    else if(this.changePassword.currentPassword != undefined && this.changePassword.currentPassword != ""){
                    document.querySelector(".cp").innerHTML="รหัสผ่านปัจจุบัน";
                    var set = "1234567890"
                    var theCount = 0;
                    for(var i of this.changePassword.currentPassword){
                        if(set.includes(i)){
                            theCount++;
                        }//econ
                    }//eloop
                    if(theCount<4){
                        document.querySelector(".cp").innerHTML+="<b class='red--text h6'>กรุณาเลือกใช้รหัสผ่านที่ประกอบไปด้วยตัวเลข 4 ตัวขึ้นไป<b>";
                        this.pass1=0;
                        return;
                    }//ef
                    this.pass1=1;
                }//econ


                if(this.changePassword.newPassword == undefined || this.changePassword.newPassword == ""){
                        document.querySelector(".np").innerHTML="รหัสผ่านใหม่";
                        document.querySelector(".np").innerHTML+=" <b class='red--text h6'> กรุณาใส่ใหม่ที่ต้องการจะเปลี่ยน <b>";
                        this.pass2 = 0;
                    }//econ
                    else if(this.changePassword.newPassword != undefined && this.changePassword.newPassword != ""){
                    document.querySelector(".np").innerHTML="รหัสผ่านใหม่";
                    var set = "1234567890"
                    var theCount = 0;
                    for(var i of this.changePassword.newPassword){
                        if(set.includes(i)){
                            theCount++;
                        }//econ
                    }//eloop
                    if(theCount<4){
                        document.querySelector(".np").innerHTML+="<b class='red--text h6'>กรุณาเลือกใช้รหัสผ่านที่ประกอบไปด้วยตัวเลข 4 ตัวขึ้นไป<b>";
                        this.pass2=0;
                        return;
                    }//ef
                    this.pass2=1;
                }//econ


                if(this.changePassword.newPassword != this.comfirmPassword){
                    document.querySelector(".cnp").innerHTML="ยืนยันรหัสผ่านใหม่";
                    document.querySelector(".np").innerHTML+=" <b class='red--text h6'> รหัสผ่านไม่ตรงกัน <b>";
                    document.querySelector(".cnp").innerHTML+=" <b class='red--text h6'> รหัสผ่านไม่ตรงกัน <b>";
                        this.pass3=0;
                }//econ
                if(this.changePassword.newPassword == this.comfirmPassword){
                    document.querySelector(".cnp").innerHTML="ยืนยันรหัสผ่านใหม่";
                    document.querySelector(".np").innerHTML+="รหัสผ่านใหม่";
                    this.pass3=1;
                }//econ

                //check new password should not be equal to old password
                if(this.changePassword.currentPassword == this.changePassword.newPassword && this.changePassword.currentPassword != undefined && this.changePassword.currentPassword != ""){
                    this.pass4=0;
                    document.querySelector(".nnp").innerHTML="";
                    document.querySelector(".nnp").innerHTML+="รหัสผ่านใหม่ไม่ควรซ้ำกับรหัสผ่านเก่า กรุณาเลือกใช้รหัสผ่านอื่น";
                }//econ
                else if(this.changePassword.currentPassword != this.changePassword.newPassword){
                    this.pass4=1;
                    document.querySelector(".nnp").innerHTML="";
                }//econ

                if(this.pass1==1&&this.pass2==1&&this.pass3==1&&this.pass4==1){
                    param = {id:this.changePassword.id,currentPassword:this.changePassword.currentPassword,newPassword:this.changePassword.newPassword}
                    @* console.log(param);return; *@
                    $.post("/TheUser2/ChangePassword",param).done(res=>{
                        if(res.error==1){
                            document.getElementById("error").innerHTML = res.message;
                        }
                        else{
                            location="/Security/Logout"
                        }
                    })
                }//econ
                


                }//ef
               
            }//emethods
            ,
            created(){
                //receive datetime of today and last datetime of change password of this user
                var editPasswordDateTime2 = @Html.Raw(Json.Serialize(@ViewBag.editPasswordDateTime));
                this.editPasswordDateTime = editPasswordDateTime2[0].editPasswordDateTime;
                this.today = editPasswordDateTime2[0].today;

                //convert it into DateTime type
                this.editPasswordDateTime = new Date(this.editPasswordDateTime);
                this.today = new Date(this.today);
                
                //find different between dates in day
                var diffTime = Math.abs(this.today-this.editPasswordDateTime);
                this.diffDay = Math.ceil(diffTime/(1000*60*60*24));

                this.changePassword.id = @Html.Raw(Json.Serialize(@ViewBag.id));
                
                
            }//ecreated
            ,
            mounted(){
                if(this.editPasswordDateTime.getFullYear()==1){
                    this.diffDay = 31;
                }//econ
                else{
                    if(this.diffDay <= 30){
                        document.getElementById("cc").setAttribute("disabled","disabled");
                        document.getElementById("cf").setAttribute("disabled","disabled");
                        var listInfo = document.querySelectorAll(".inFo")
                        for(var i of listInfo){
                            i.setAttribute("disabled","disabled");
                            i.classList.remove("bossBorder");
                        }//eloop
                    }//econ
                }//econ
            }//emount
            
        }//ecomponent
        var app = new Vue(component);
    </script>
}