<div id="app1">
    <h1 style="text-align: center;">การเปิดร้าน ใกล้เสร็จแล้ว..</h1>
    <v-app>
        <v-main>
            <v-container>
                <v-card>
                    <v-card-title>
                        <div>
                            <span  class="h2 grey--text">ตั้งโปรไฟล์ร้านค้ากัน</span>
                        </div>
                    </v-card-title>
                    <v-card-text>
                        <div style="margin:20px">
                            <span class="h2">ชื่อร้าน หรือ ชื่อฟาร์ม</span>
                            <span id="farmCheck" style="color: red;"></span>
                            <h6>ชื่อนี้จะเป็นชื่อที่โชว์บนโปรไฟล์ของร้านค้า หรือฟาร์มของคุณ</h6>
                            <v-text-field label="ตัวอย่าง บ้านหมาน้อย" v-model="seller.farmName"></v-text-field>
                        </div>

                        <div style="margin:20px">
                            <span class="h2">คำอธิบายร้านค้า</span>
                            <span id="disCheck" style="color: red;"></span>
                            <h6>คำอธิบายนี้จะอยู่บนโปรไฟล์ร้านค้าของคุณ</h6>
                            <v-text-field label="ตัวอย่าง ร้านนี้ขายน้องหมานำเข้า..." v-model="seller.sellerProfileDescription"></v-text-field>
                        </div>

                        <div style="margin:20px">
                            <span class="h2">เบอร์โทรศัพท์ฟาร์มหรือร้านค้า</span>
                            <span id="phoneCheck" style="color: red;"></span>
                            <h6>เบอร์นี้ควรจะเป็นเบอร์ที่ลูกค้าสามารโทรมาสอบถามได้โดยตรง</h6>
                            <v-text-field label="ตัวอย่าง 0920192312" v-model="seller.sellerProfilePhoneNumber"></v-text-field>
                        </div>
                        
                        <div style="margin:20px">
                            <span class="h2">รูปโปรไฟล์ร้านค้า</span>
                            <h6>ตั้งรูปโปรไฟล์ร้านค้า</h6>
                            <span id="picCheck" class="red--text"></span>
                            <v-col cols="3">
                                <v-card>
                                    <v-card-text>
                                        <v-img :src="sellerProfilePicData"></v-img>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-file-input label="รูปโปร์ไฟล์ร้านค้า" v-model="seller.sellerProfilePic"
                                            @@change="preview_profilePic"></v-file-input>
                                    </v-card-actions>
                                </v-card>
                        </div>
                        </v-col>
                        <v-card-actions>
                            <v-btn @@click='completeShop' color='blue' outlined>
                                <v-icon>
                                    mdi-content-save-edit
                                </v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card-text>
                </v-card>
            </v-container>
        </v-main>
    </v-app>
</div>
@section Scripts{
    <script>
        var component ={
            vuetify : new Vuetify(theme())
            ,
            el:"#app1"
            ,
            data:{
                test:"hoho",
                sellerId : "",
                seller:{},
                sellerProfilePicData:""
            }//edata
            ,
            methods:{
                completeShop(){
                    var p1 = 0;
                    var p2 = 0;
                    var p3 = 0;
                    var p4 = 0;
                    if(this.seller.farmName == "" || this.seller.farmName == undefined){
                        document.getElementById("farmCheck").innerHTML="กรุณาตั้งชื่อฟาร์ม"
                        p1 = 0;
                    }//econ
                    else if(this.seller.farmName != ""){
                        document.getElementById("farmCheck").innerHTML=""
                        p1 = 1;
                    }//econ

                    if(this.seller.sellerProfileDescription == ""|| this.seller.sellerProfileDescription == undefined){
                        document.getElementById("disCheck").innerHTML="กรุณากรอกคำธิบายฟาร์ม"
                        p2 = 0;
                    }//econ
                    else if(this.seller.sellerProfileDescription != ""){
                        document.getElementById("disCheck").innerHTML=""
                        p2 = 1;
                    }//econ

                    if(this.seller.sellerProfilePhoneNumber == "" || this.seller.sellerProfilePhoneNumber == undefined){
                        document.getElementById("phoneCheck").innerHTML="กรุณากรอกคำธิบายฟาร์ม"
                        p3 = 0;
                    }//econ
                    else if(this.seller.sellerProfilePhoneNumber != ""){
                        document.getElementById("phoneCheck").innerHTML=""
                        p3 = 1;
                    }//econ

                    if(this.seller.sellerProfilePic == "" || this.seller.sellerProfilePic == undefined){
                        document.getElementById("picCheck").innerHTML="กรุณาใส่รูป"
                        p4 = 0;
                    }//econ
                    else if(this.seller.sellerProfilePic != ""){
                        document.getElementById("picCheck").innerHTML=""
                        p4 = 1;
                    }//econ

                    if(p1 != 1 || p2 != 1 || p3 != 1 || p4 != 1){
                        return;
                    }
                    console.log("the id should be ", parseInt(this.sellerId))
                    this.seller.sellerProfilePic= this.sellerProfilePicData;
                    this.seller.sellerId = this.sellerId;
                    var param = this.seller;
                    var url = "/Seller2/CompleteShop";
                    $.post(url,param).done(res => {
                        if(res.error==-1){
                            "เปิดร้านค้าสำเร็จ"
                            location = '/seller2/MyShop/'+this.sellerId;
                        }//econ
                        else{
                            alert(res.exception)
                        }//econ
                    })//epost
                    @* farmName:"",sellerProfileDescription:"",sellerProfilePic:"",sellerProfilePhoneNumber:"" *@
                }//ef
                ,
                preview_profilePic() {
                    const width = 400;
                    const height = 400;
                    const reader = new FileReader();
                    reader.readAsDataURL(this.seller.sellerProfilePic); //file1
                    reader.onload = () => {
                        //1.create an image instance
                        const img = new Image();
                        
                        //2.get the image src from reader
                        img.src = event.target.result;

                        //3.when the image is fully loaded, call onload
                        img.onload = () =>{
                            //4 create dynamic html element as elem
                            const elem = document.createElement('canvas')

                            //5.set width and height of elem
                            elem.width = width;
                            elem.height = height;

                            //6.setup the canvas as a blank2d drawing board
                            const ctx = elem.getContext('2d');

                            //7draw the content of the image instance  into the blank 2d drawing board
                            ctx.drawImage(img,0,0,width,height)

                            //8. convert  the data drwawing board into base64 data with 0.9 quality scale
                            this.sellerProfilePicData = ctx.canvas.toDataURL(img, "image/*", 0.9);
                        }
                    }
                    reader.onerror = function (error) {
                        console.log('Error: ', error)
                    }//ev
                }//ef 
                
            }//emethods
            ,
            created(){
                this.sellerId = @Html.Raw(Json.Serialize(@ViewBag.sellerId))
                console.log(this.sellerId);
            }
            
        }//ecomponent
        var app = new Vue(component);
    </script>
}